<div ng-if="videosCtrl.currentVideo">
    <button type="button" class="back" ng-click="videosCtrl.returnToVideos()"> <-- Return to List of Videos</button>

    <ul class="videoList">
        <li class="videoListItem videoDetail">
            <div id="player">
                <iframe id="player" class="videoThumb"
                        type="text/html"
                        src="{{ videosCtrl.trustSrc(videosCtrl.currentVideo.url) }}"
                        allowfullscreen>
                </iframe>
            </div>

            <div class="videoListInfo videoDetailInfo">
                <h4 class="videoTitle">{{ videosCtrl.currentVideo.snippet.title }}</h4>
                <br/>
                <h6 class="videoPublished"><b>Published</b> on {{ videosCtrl.currentVideo.snippet.publishedAt | date }}</h6>
                <br/>
                <h6 class="videoDescription" ng-if="videosCtrl.currentVideo.snippet.description"><b>Description:</b> {{ videosCtrl.currentVideo.snippet.description }}</h6>
                <br/>
            </div>
        </li>
    </ul>
</div>
