<h2 class="listTitle">My YouTube Playlist</h2>

<h1>Hello from List</h1>

<!-- <ul class="videoList">
    <li class="videoListItem" ng-repeat="video in detailsCtrl.videos">
        <img ui-sref="youtube.videos.details({ videoId:video.contentDetails.videoId })" class="videoThumb"
             ng-click="detailsCtrl.toggleListView()"
             ng-src="{{ video.snippet.thumbnails.high.url }}"
             alt="{{ video.snippet.thumbnails.default.url }}">

        <div class="videoListInfo">
            <h4 ui-sref="youtube.videos.details({ videoId:video.contentDetails.videoId })"
                class="videoTitle videoTitleLink">{{ video.snippet.title }}</h4>
            <br/>
            <h6 class="videoPublished"><b>Published on</b> {{ video.snippet.publishedAt | date }}</h6>
            <br/>
            <h6 class="videoDescription videoDescriptionList" ng-if="video.snippet.description"><b>Description:</b> {{ video.snippet.description | limitTo: 160 }}...</h6>
        </div>
    </li>
</ul> -->
