<h2 class="listTitle">My YouTube Playlist</h2>

<ul class="videoList">
    <li class="videoListItem" ng-repeat="video in videosCtrl.videos">
        <img class="videoThumb"
             ng-src="{{ video.snippet.thumbnails.high.url }}"
             alt="{{ video.snippet.thumbnails.default.url }}">

        <div class="videoListInfo">
            <h4 class="videoTitle videoTitleLink">{{ video.snippet.title }}</h4>
            <br/>
            <h6 class="videoPublished"><b>Published on</b> {{ video.snippet.publishedAt | date }}</h6>
            <br/>
            <h6 class="videoDescription videoDescriptionList" ng-if="video.snippet.description"><b>Description:</b> {{ video.snippet.description | limitTo: 160 }}...</h6>
        </div>
    </li>
</ul>
