div#player {
    display: table;
    margin: 10px auto;
    margin-left: 25%;
    min-height: 250px;
    height: 100%;
    width: 100%;
}

div.videoDetailInfo {
    width: 80%;
    clear: both;
    margin: 0 auto;
}

div.videoListInfo {
    display: block;
    margin: 10px auto;
    margin-left: 25%;
    max-width: 60%;
}

iframe#player {
    margin: auto;
}

img.videoThumb {
    display: block;
    margin-left: 25%;
}

li.videoListItem {
    width: 90%;
}
