/*-----------------------------------------------------*/
/* CSS RESET */
/*-----------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: sans-serif;
    font-weight: 400;
}

nav ul {
    list-style:none;
}

li {
    list-style-type: none;
}

/*-----------------------------------------------------*/
/* App CSS */
/*-----------------------------------------------------*/


html,
body {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    color: #000;
}

a {
    color: #373A36;
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    color: #5bc0de;
}

b {
    font-weight: bold;
}

button.back {
    word-wrap: normal;
    background: #f1f1f1;
    color: #7d7d7d;
    border-radius: 10px;
    margin: 10px;
}

div.container {
    width: 100%;
}

div.footer {
    height: 20px;
}

h2.listTitle {
    font-size: 36pt;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: #000;
    font-family: cursive;
}

h4.videoTitle {
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
}

h4.videoTitleLink {
    cursor: pointer;
}

h4.videoTitleLink:hover {
    color: #167ac6;
}

img.videoThumb {
    cursor: pointer;
}

li {
    padding: 10px;
    border: 2px solid black;
    border-bottom-width: 0.5px;
    border-radius: 2px;
    margin: 0 0 10px 0;
    box-shadow: 5px 5px 5px #888888;
}

li.videoListItem {
    background: #fff;
    margin: 10px auto;
}
